body{
    background-color: white;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
}
.text-door{
    transform: rotate(-90deg);
    width: 10%;
    border-bottom: 2px solid black;
}
.space-item{
    width: 70px;
    height: 50px;
    margin: 1px;
    max-width: 70px;
    align-items: center;
    display: flex;
    color: white;
    font-weight: bold;
    border: 0;
    background-color: #ef2b2bc4;
}
.space-item-free{
    background-color: #2cda2c;
}
.modal{
    background: #ffffffbd;
}
.item-vehicle-to-client{
    box-shadow: 0 6px 12px -4px #d6d6d6;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 10px;
}
.form-control{
    background: white !important;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    height: 45px;
}
